## ISE is very, VERY messy:

/_ngo/
/_xmsgs/
/iseconfig/
/samx4.bld
/samx4.cmd_log
/samx4.gise
/samx4.gyd
/samx4.jed
/samx4.lso
/samx4.mfd
/samx4.nga
/samx4.ngc
/samx4.ngd
/samx4.ngr
/samx4.pad
/samx4.pnx
/samx4.prj
/samx4.rpt
/samx4.stx
/samx4.syr
/samx4.tim
/samx4.tspec
/samx4.vm6
/samx4.xml
/samx4.xst
/samx4_build.xml
/samx4_envsettings.html
/samx4_html/
/samx4_ngdbuild.xrpt
/samx4_pad.csv
/samx4_summary.html
/samx4_xst.xrpt
/tmperr.err
/webtalk_pn.xml
/xlnx_auto_0_xdb/
/xst/
